<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark navbar-dark border-bottom box-shadow mb-3  mb-4" style="background-color:#26425A;">
	<div class="container-fluid">
		<a class="navbar-brand me-5" asp-area="" asp-controller="Movies" asp-action="Index">E-MOVIES</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
				<li class="navbar-nav">
					<a class="navbar-brand" asp-controller="Movies" asp-action="Index"><i class="badge-info bi-film"></i> Movies</a>
				</li>

				@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
				{


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-command"></i> Management
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" asp-controller="Cinemas" asp-action="Index"><i class="bi bi-camera-reels"></i> Cinemas</a></li>
							<li><a class="dropdown-item" asp-controller="Producers" asp-action="Index"><i class="bi bi-headset"></i> Producers</a></li>
							<li><a class="dropdown-item" asp-controller="Actors" asp-action="Index"><i class="bi bi-person-square"></i> Actors</a></li>
						</ul>
					</li>

				}

			</ul>
			<form class="d-flex my-2 my-lg-0" asp-controller="Movies" asp-action="Filter" style="padding-right: 25px;">
				<input name="searchString" type="text" class="form-control me-3" placeholder="Search for a movie...">
				<button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
			</form>

			<ul class="navbar-nav">
				@await Component.InvokeAsync("ShoppingCartSummary")
			</ul>

			<partial name="_identityPartialView" />

		</div>
	</div>
</nav>